# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.idea
.coveralls.yml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache
/demo
/design
