body {
  padding: 50px;
  margin: 0;
  font:
    16px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

.col {
  margin: 10px 0;
}
.title {
  display: flex;
}
.title > a:first-child {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.title > a:first-child::before {
  content: '<-';
  margin-right: 10px;
}
