body {
  padding: 50px;
  margin: 0;
  font:
    16px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

.banner {
  padding: 20px;
  background: #f5f5f5;
  border: solid 1px #ddd;
  display: inline-block;
  margin-bottom: 20px;
}
.banner::before {
  content: 'Introduce: ';
}
.col {
  margin: 20px 0;
}
.col span:last-child {
  display: block;
  color: #aaa;
  font-size: 14px;
  width: 50%;
}
.title {
  display: flex;
}
.title > a:first-child {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.title > a:first-child::before {
  content: '<-';
  margin-right: 10px;
}
.title > a:not(:first-child) {
  padding: 0 20px;
}
#dashboard {
  margin-top: 20px;
}
