name: pull_request check

# trigger condition: pull_request to any branch
on:
  pull_request:
    paths-ignore:
      - '.vscode/**'
      - '**/*.md'
      - '.github/**'
      - '.changeset/**'

jobs:
  quality:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.pull_request.head.ref, 'changeset-release') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      # install pnpm version by `packageManager` in package.json
      - name: Setup PNPM
        uses: pnpm/action-setup@v4.0.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install deps
        run: pnpm install

      - name: Lint check
        run: pnpm run lint

      - name: Format
        run: pnpm run format

      - name: Unit tests
        run: pnpm run test
