name: pull_request check

# trigger condition: pull_request to any branch
on:
  pull_request:
    paths-ignore:
      - '.vscode/**'
      - '**/*.md'
      - '.github/**'

jobs:
  quality:
    # server: ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup PNPM
        uses: pnpm/action-setup@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install deps
        run: pnpm install

      - name: Lint check
        run: pnpm run lint

      - name: Unit tests
        run: pnpm run test

      - name: Format
        run: pnpm run format
